body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 60px;
}
.container {
  background-color: #f2f2f2;
  width: 60%;
  margin: auto;
  padding: 40px;
  border-radius: 12px;
}
.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #ddd;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}
.nav-links a:hover {
  text-decoration: underline;
}
